body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.container {
  max-width: 960px;
  margin: 10px auto;
}
.header,
.main {
  margin: 0;
  padding: 0.625rem;
}
.title {
  margin: 0;
  font-weight: normal;
}
.main {
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main p {
  margin: 0.625rem 0;
  padding: 0;
}
.footer {
  padding: 1.25rem;
}
